<div data-role="dialog" id="dialog-loading" class="padding20 dialog grid" data-close-button="true" data-overlay="true" data-overlay-color="op-dark">
    
    <div class="margin60">
        <p>Saving...</p>
        <br/>
        <div data-role="preloader" data-type="cycle" data-style="dark"></div>
    </div>
    
</div>    