<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}DocManager{% endblock %}</title>
        
        {% stylesheets filter='cssrewrite'
            'css/metro.css'
            'css/metro-icons.css'
            '@SWDocManagerBundle/Resources/public/css/main.css'%}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        
        <div class="container">
            <h1>Docmanager</h1>
                     
            {% block body %}
            {% endblock %}
        
        </div>
            
    </body>    
    

    {% block javascript %}
        {% javascripts
            'js/jquery.js'
            'js/metro.js'
            '@SWDocManagerBundle/Resources/public/js/commun.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</html>