<div class="row cells1">
    <div class="cell" id="categoriesline">
        <span class="categoryBlock padding10 bg-grayLighter">{{ form_widget(form.category, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</span>
        <span class="categoryBlock padding10 bg-grayLighter">{{ form_widget(form.subcategory1, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</span>
        <span class="categoryBlock padding10 bg-grayLighter">{{ form_widget(form.subcategory2, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</span>
        <span class="categoryBlock padding10 bg-grayLighter">{{ form_widget(form.subcategory3, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</span>
    </div>
</div> 