<div class="row cells1">
    <div class="cell" id="categoriesline">
        <span class="categoryBlock padding10 bg-grayLighter">{{ form_widget(form.category.name, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</span>
        <span class="categoryBlock padding10 bg-grayLighter">{{ form_widget(form.subcategory1.name, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</span>
        <span class="categoryBlock padding10 bg-grayLighter">{{ form_widget(form.subcategory2.name, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</span>
        <span class="categoryBlock padding10 bg-grayLighter">{{ form_widget(form.subcategory3.name, {'attr':{'class':'noborder','readonly':'readonly'} }) }}</span>
    </div>
</div> 